workflow.json
{
  "name": "Youtube Automation copy",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "Create a 45–60 second monologue for one speaker.\nStructure it as:\n\nHook (1 line): grabs attention fast.\n\nFact (2–3 lines): surprising or unknown info.\n\nPunchline or twist (1 line): something that flips the listener’s expectation.\nKeep it snappy, entertaining, and memorable — no narration or stage directions.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        320,
        16
      ],
      "id": "37604d99-a29f-4c15-9491-ef3ff48ffd0d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        272
      ],
      "id": "829f73fd-733b-4fd1-9db6-f7b7d0a56735",
      "name": "Google Gemini Chat Model",
      "credentials": {
       
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qwen-qwen-tts-demo.hf.space/gradio_api/call/predict",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {{ JSON.stringify($json.output) }},\n    \"Ethan\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        0
      ],
      "id": "c2a5c334-b0ba-4090-b589-be0354813049",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://qwen-qwen-tts-demo.hf.space/gradio_api/call/predict/{{ $json.event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        0
      ],
      "id": "164e4ad8-ae07-4d64-a771-e0417670559e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw data from previous node\nlet rawData = $input.first().json.data;\n\n// If it's a string like \"event: complete\\ndata: [...]\"\nif (typeof rawData === 'string') {\n    // Extract JSON array after \"data: \"\n    const match = rawData.match(/data:\\s*(\\[.*\\])/s); // 's' flag allows newline\n    if (!match) throw new Error(\"No JSON data found!\");\n    rawData = match[1];\n}\n\n// Parse JSON\nconst dataArray = JSON.parse(rawData);\n\n// Extract the .wav URL\nconst wavUrl = dataArray[0].url;\n\n// Return output for next node\nreturn [\n    {\n        json: { wavUrl }\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        0
      ],
      "id": "a4fd9d0a-d051-4b24-8a18-0e0c3f0cc032",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "={{ $json.wavUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        0
      ],
      "id": "8f33b2f8-f32b-45ac-bab1-b98add7dea5f",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/audio/audio.wav",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1744,
        0
      ],
      "id": "58d6347a-0cd3-4f81-84b8-8288926832b9",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        48
      ],
      "id": "0ea1d187-b570-4bc5-875d-6c929ac5b71d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/subtitles/subtitle.srt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2464,
        240
      ],
      "id": "0be8346f-5106-4dcf-afd3-747eed26f7a7",
      "name": "Read/Write Files from Disk4"
    },
    {
      "parameters": {
        "command": "ffmpeg -y -i /home/node/videos/3.mp4 -i /home/node/audio/audio.wav -c:v copy -c:a aac -b:a 192k -map 0:v:0 -map 1:a:0 -shortest /home/node/temp/output.mp4\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2288,
        -32
      ],
      "id": "64fc45fb-2f8e-457f-bc29-3e14898075eb",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "url": "={{ $json.shortsUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        240
      ],
      "id": "0e1cdfe2-9d39-43c3-abd2-c2f3c9d8ccab",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "command": "ffmpeg -i /home/node/temp/output8.mp4 \\\n-vf \"subtitles=/home/node/subtitles/subtitle.srt:force_style='FontName=Roboto,FontSize=8,PrimaryColour=&H00FFFFFF'\" \\\n-c:a copy \\\n/home/node/videos/yt_final.mp4\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2944,
        208
      ],
      "id": "82616a4d-06a7-40fa-8986-3724842f38eb",
      "name": "Execute Command2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://neuralfalcon-auto-subtitle-generator.hf.space/gradio_api/call/subtitle_maker",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"path\": \"{{ $json.wavUrl }}\",\n      \"meta\": {\n        \"_type\": \"gradio.FileData\"\n      }\n    },\n    \"Automatic\",\n    \"English\"\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        208
      ],
      "id": "11a275d1-829b-4c32-a535-b3cb76c7e5b0",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "url": "=https://neuralfalcon-auto-subtitle-generator.hf.space/gradio_api/call/subtitle_maker/{{ $json.event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        224
      ],
      "id": "81237598-29b7-4d84-933c-f38d7c7d9580",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw data from the previous node\nlet rawData = $input.first().json.data;\n\n// Check if it's a string like \"event: complete\\ndata: [...]\"\nif (typeof rawData === 'string') {\n    // Extract the JSON array after \"data: \"\n    const match = rawData.match(/data:\\s*(\\[.*\\])/s); // 's' flag allows newline\n    if (!match) throw new Error(\"No JSON data found!\");\n    rawData = match[1]; // this is now the JSON array string\n}\n\n// Parse JSON into an array\nconst dataArray = JSON.parse(rawData);\n\n// Extract the Shorts/Reels subtitle URL (index 4)\nconst shortsUrl = dataArray[4]?.url; // optional chaining in case it's null\n\n// Return output for next node\nreturn [\n    {\n        json: { shortsUrl }\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        240
      ],
      "id": "b71a508f-7e4b-4d44-b739-a9df9cf2f726",
      "name": "Code3"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/temp/yt_final.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2288,
        688
      ],
      "id": "c972dd95-acc2-4e51-a79c-c52c97e206f6",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate YouTube metadata in JSON format.\nKeys:\n- title: A catchy YouTube title under 70 characters\n- description: 2–3 paragraphs describing the video\n- tags: 8–12 SEO-friendly tags in an array\n\nVideo context: {{ $node[\"AI Agent\"].json[\"output\"] }}\n\nReturn ONLY JSON, no extra text.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1584,
        576
      ],
      "id": "a535c05b-5747-4561-b2bc-bfef4f0e649d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1488,
        784
      ],
      "id": "c771a2d9-d8a3-4bec-b678-73a1d52e835a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"Brain Power: Enough to Light a Bulb!\",\n  \"description\": \"Ever wondered how much power your brain truly generates? Prepare to be amazed! ...\",\n  \"tags\": [\"brain power\", \"science facts\", \"neuroscience\", \"human body\", \"fun facts\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1776,
        816
      ],
      "id": "21bff5df-1e2d-4ee5-a307-03025fc04307",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2624,
        480
      ],
      "id": "4c4ae6ab-e1dc-4e09-b91e-a9c6f2e74b62",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.output.title }}",
        "regionCode": "IN",
        "categoryId": "24",
        "options": {
          "description": "={{ $json.output.description }}",
          "privacyStatus": "public",
          "tags": "={{ $json.output.tags.join(\",\") }}\n"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2848,
        672
      ],
      "id": "ae0cf5c6-ecc0-4b5f-94d8-7119f7e7ca07",
      "name": "Upload a video1",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "command": "ffmpeg -y -i /home/node/temp/output.mp4 \\\n-vf \"subtitles=/home/node/subtitles/subtitle.srt:force_style='FontName=Roboto,FontSize=8,PrimaryColour=&H00FFFFFF,MarginV=70'\" \\\n-c:a copy \\\n/home/node/temp/yt_final.mp4\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2656,
        240
      ],
      "id": "4a6dfced-75c2-4d7b-8816-03033518ce2a",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "command": "VIDEO=$(ls /home/node/videos/*.mp4 | shuf -n 1) && \\\nffmpeg -y -i \"$VIDEO\" -i /home/node/audio/audio.wav \\\n-c:v copy -c:a aac -b:a 192k -map 0:v:0 -map 1:a:0 \\\n-shortest /home/node/temp/output.mp4\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1952,
        0
      ],
      "id": "c2f00fd3-d6c7-44e8-91ac-a692d8b60b2d",
      "name": "Execute Command3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nick088-fast-subtitle-maker.hf.space/gradio_api/call/lambda",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"data\": [\n    true\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        400
      ],
      "id": "b337815f-9ffc-4f88-b9a6-fdfc0aafc509",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "url": "=https://nick088-fast-subtitle-maker.hf.space/gradio_api/call/lambda/{{ $json.event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        400
      ],
      "id": "c8507b79-7aa7-4c7b-add9-ba239b576dac",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        96,
        -176
      ],
      "id": "dfeb7171-fc21-4273-8ef4-f4917a130cf6",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Execute Command3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk4": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command2": {
      "main": [
        []
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload a video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        []
      ]
    },
    "Upload a video1": {
      "main": [
        []
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zd7GwWiUDBqYFWQE"
  },
  "versionId": "db3b2c57-ef42-4634-8e98-3a887f49f76e",
  "meta": {
  },
  "id": "zd7GwWiUDBqYFWQE",
  "tags": []
}